<div class="container-fluid">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center loginTopSpace">
                   <%=image_tag("shipper_icon.png")%>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 loginwrap">
                    <h1>Welcome Shipper!</h1>
                   <%= bootstrap_form_for @slogin, url: {action: "create"} do |f| %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.text_field :username, hide_label: true, placeholder: "Username", control_class: "logininput", required: true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.password_field :password, hide_label: true, placeholder: "Password", control_class: "pwdinput", required:true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.hidden_field :hiddenType, value: "Supplier" %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.submit "Login", class: "login-btn align-center" %>
                        </div>
                    <% end %>
                </div>
               </div>            
        </div>
    </div>
</div>