<%= render "layouts/header"  %>

<div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">  
            <% if ($userRole_frm == "Transporter")  %>  
                <div class="alert alert-danger btn-top-spacing">Transporters don't have permission to access this page</div>
            <% else %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
        <div class="pull-left"> <h3 class="pageheading">Notifications</h3></div>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
        <div class="table-responsive">
            <table class="table table-bordered gridTable" id="notification">
            <thead class="gridheader">
                <tr>
                <th>Notification#</th>
                <th>Details</th>
                <th>Action</th>             
             </tr>
            </thead>
            <tbody>                          
                 <% @notifications.each do |key,value| %>
                    <% value.each do |val| %>                                    
                            <tr>                              
                                <td><%= val["notificationNo"] %></td>
                                <td><%= val["Details"] %></td>
                                <td class="text-center">
                                    <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, new_nomination_path(status:"viewNom")  %>
                                </td>
                            </tr>                                                                     
                    <% end %>                              
                <% end %>
            </tbody>
          </table>
        </div>
    </div>  
            <%end %>
        </div>
      </div>
</div>
<footer>
  <p></p>
  <p></p>
</footer>