<%= render "layouts/header"  %>

<div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">  
            <% if ($userRole_frm == "Supplier")  %>  
                <div class="alert alert-danger btn-top-spacing">Suppliers don't have permission to access this page</div>
            <% else %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
        <div class="pull-left"> <h3 class="pageheading">Schedule</h3></div>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
        <div class="table-responsive">
            <table class="table table-bordered gridTable" id="schedule">
            <thead class="gridheader">
               <tr>
                <th>Date and Time</th>
                <th>Injection Point</th>
                <th>Injection Quantity</th>   
                <th>Offtake Point</th>  
                <th>Offtake Quantity</th>
             </tr>
            </thead>
            <tbody>                          
                <% @schedules.each do |key,value| %>
                    <% value.each do |keySchedule,valSchedule| %> 
                    <% valSchedule.each do |val| %>
                            <tr>                              
                                <td><%= val["date_and_time"] %></td>
                                <td><%= val["injection_point"] %></td>
                                <td><%= val["injection_quantity"] %></td>
                                <td><%= val["offtake_point"] %></td>
                                <td><%= val["offtake_quantity"] %></td>
                            </tr>                                                                     
                    <% end %>                              
                <% end %>
            <% end %> 
            </tbody>
          </table>
        </div>
    </div>  
            <%end %>
        </div>
      </div>
</div>
<footer>
  <p></p>
  <p></p>
</footer>