 <nav class="navbar navbar-inverse top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <%= image_tag("logo.png", size: "144X19", class: "img-fluid logo") %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag("profile_photo.png", size: "37X38", class: "img-fluid profile") %>Hi Smith</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
            <li><%= image_tag("setting_icon.png", size: "24X24", class: "img-fluid icons") %></li>
            <li><%= image_tag("report_issue.png", size: "24X24", class: "img-fluid icons") %></li>
            <li><%= image_tag("help.png", size: "24X24", class: "img-fluid icons") %></li>
          </ul>
        </div>
      </div>
    </nav>